<%= form_with(model: post, local: true, multipart: true) do |form| %>
  <!-- <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> -->

  <% if @post.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= @post.errors.full_messages.to_sentence %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo, direct_upload: true, accept: 'image/*' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
