<% @posts.each do |post| %>
  <div class="row">
    <div class="col-md-2">
      <%= link_to post do %>
        <!-- <%= image_tag post.photo.variant(resize: "100x100") %> -->
        <!-- <%= image_tag post.photo.variant(resize_to_fit: [100, 100]) %> -->
        <%= image_tag post.photo %>
      <% end %>
    </div>

    <div class="col-md-5">
      <%= link_to post do %>
        <h2><%= post.title %></h2>
      <% end %>
      <%= link_to 'Editar', edit_post_path(post) %>
      <%= link_to 'Apagar postagem', post, method: :delete, data: { confirm: 'Você confirma apagar?' } %>
    </div>

    <div class="col-md-5">
      Postado por <strong><%= post.user.email %></strong>
    </div>
  </div>
  <hr>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="text-md-center"><%= will_paginate @posts %></div>
  </div>
</div>
